
# Gila ignores
vendor/
src/*
themes/*
assets/*
tmp/*
log/*
log/sessions/*
composer.phar
composer.json
composer.lock
config.php

# excluded
!src/core/
!src/gila_fb_comments/
!src/gila_disqus/
!themes/startbootstrap-clean-blog/
!themes/base/
!themes/gila-blog/
!log/sessions/
!log/sessions/.gitkeep
!tmp/index.html
!assets/gila-logo.png
!assets/gila-logo.svg
