# Gila ignores
src/*
themes/*
assets/*
tmp/*
log/*
log/sessions/*
sites/*

vendor/
node_modules/
composer.phar
composer.lock
config.php
npm-debug.log
TODO.md
tests/basic.results.csv
tests/jmeter.log

# excluded
!src/core/
!src/Cocur/
!src/blog/
!src/blocks/
!src/gila_fb_comments/
!src/ganalytics/
!src/featured_grid/
!src/reCAPTCHA/
!src/.htaccess
!sites/README.md

!themes/gila-mag/
!themes/gila-blog/
!themes/.htaccess

!log/sessions/
!log/sessions/.gitkeep
!tmp/.gitkeep
!tmp/index.html
!tmp/.htaccess

!assets/.htaccess
!assets/gila-logo.png
!assets/gila-logo.svg
