# Gila ignores
src/*
themes/*
assets/*
tmp/*
log/*
log/sessions/*
sites/*
data/*
data/uploads/*
assets/uploads/*

vendor/
node_modules/
composer.phar
composer.lock
package.json
package-lock.json
config.php
npm-debug.log
TODO.md
tests/basic.results.csv
tests/jmeter.log
tests/performance

# excluded
!src/core/
!src/Cocur/
!src/blog/
!src/blocks/
!src/gila_fb_comments/
!src/ganalytics/
!src/featured_grid/
!src/reCAPTCHA/
!src/.htaccess
!sites/.htaccess
!sites/README.md

!themes/gila-mag/
!themes/gila-blog/
!themes/.htaccess

!log/sessions/
!log/sessions/.gitkeep
!log/.htaccess
!tmp/.gitkeep
!tmp/index.html
!tmp/.htaccess

!assets/.htaccess
!assets/lib
!assets/uploads/.gitkeep
!assets/gila-logo.png
!assets/gila-logo.svg

!data/uploads/
!data/.htaccess
