
# 1 WEEK - possible to be changed, unlikely
<FilesMatch "\.(css|js|jpg|jpeg|png|gif|swf)$">
#Header set Cache-Control "max-age=604800, public"
</FilesMatch>

<IfModule mod_gzip.c>
  mod_gzip_on       Yes
  mod_gzip_dechunk  Yes
  mod_gzip_item_include file  \.(html?|txt|css|js|php|pl|jpg|png|gif)$
</IfModule>

RewriteEngine On

#exclude these folders
RewriteCond %{REQUEST_URI} !\.json$
RewriteCond %{REQUEST_URI} !/vendor/
RewriteCond %{REQUEST_URI} !/install/
RewriteCond %{REQUEST_URI} !/src/
RewriteCond %{REQUEST_URI} !/themes/
RewriteCond %{REQUEST_URI} !/lib/
RewriteCond %{REQUEST_URI} !/assets/
RewriteCond %{REQUEST_URI} !/tmp/
RewriteCond %{REQUEST_URI} !googlee8e85b60fd5460a9.html
RewriteCond %{REQUEST_URI} !service-worker.js
RewriteCond %{REQUEST_URI} !sw.js
RewriteCond %{REQUEST_URI} !manifest.json$

RewriteRule (.*)$ index.php?url=$1 [QSA,L]
