@font-face {
  font-family: "Roboto";
  src: url("assets/core/fonts/Roboto-Regular.ttf");
}

:root {
  --sidebar-width: 60px;
  ---sidebar-width: -60px;
  --main-dark-color: var(--main-palette-2);
}
*,.g-form label, .g-label{
  font-family: 'Roboto', sans-serif;
}
#sidebar-wrapper .g-nav{
  text-align:center;
}
#sidebar-wrapper .g-nav>li>a{
  font-size:80%;
}
#sidebar-wrapper .g-nav>li a{
  color: rgba(250,250,250,0.7);
  font-family: 'Roboto', Arial, sans-serif;
}
#sidebar-wrapper .g-nav>li>a>i{
  font-size:2.6em;
  display:block;
  margin: 4px auto;
  position: relative;
  color: rgba(250,250,250,0.8);
}
#sidebar-wrapper .g-nav>li>a>span{
  display:none;
}
#sidebar-wrapper .g-nav li ul{
  text-align:left;
  min-width: 200px;
}
#sidebar-wrapper .g-nav>li>a:hover, #sidebar-wrapper .g-nav>li>a:hover i{
  transition-duration: 0.4s;
  color: var(--main-palette-1);
}
.g-nav li.dropdown>a:after{content:none;display:none;}
.g-btn, .g-table table{
  font-family: 'Roboto', Arial, sans-serif;
}
#sidebar-wrapper .g-nav li.active,#sidebar-wrapper .g-nav li.active>a>i{
  border:inherit;
  color: var(--main-palette-1);
}
#sidebar-wrapper .g-nav li.active>*{
  color: var(--main-palette-1);
}
/*
#sidebar-wrapper .g-nav>li>ul {
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--sidebar-width);
  width: 200px;
  padding-top: 100px;
}
*/
