<FilesMatch ".*\.(php|phtml|phar)$">
deny from all
</FilesMatch>

#Enable CORS
#<IfModule mod_headers.c>    
#Header set Access-Control-Allow-Origin "*"
#Header set Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
#</IfModule>
