<section>
  <figure class="container" style="margin:auto; max-width:90%; width: max-content;">
    <img src="{$img}" alt="{($data->alt_text??'')}"
    style="vertical-align: middle;"/>
    <figcaption>{$data->caption}</figcaption>
  </figure>
</section>