<div class="features-grid" style="display: grid; grid-gap:20px;justify-content: center; grid-template-columns: repeat(auto-fit, minmax(160px,200px))">

    <div>
        <img height="410" src="assets/vector/cogs.png" alt=""></a>
        <h3>Feature</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">Learn More</a>
    </div>

    <div>
        <img height="410" src="assets/vector/cogs.png" alt=""></a>
        <h3>Feature</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">Learn More</a>
    </div>

    <div>
        <img height="410" src="assets/vector/cogs.png" alt=""></a>
        <h3>Feature</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">Learn More</a>
    </div>

</div>
<br>
