<div style="display:grid; grid-template-columns: repeat(auto-fit, minmax(160px,1fr))" class="gallery-grid">
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
    <div><img src="assets/vector/photo.png"></div>
</div>
<br>
