<div style="display:grid; grid-template-columns: repeat(auto-fit, minmax(160px,1fr))" class="gallery-grid">
    <div><img src="../../src/core/assets/photo.png"></div>
    <div><img src="../../src/core/assets/photo.png"></div>
    <div><img src="../../src/core/assets/photo.png"></div>
    <div><img src="../../src/core/assets/photo.png"></div>
    <div><img src="../../src/core/assets/photo.png"></div>
    <div><img src="../../src/core/assets/photo.png"></div>
    <div><img src="../../src/core/assets/photo.png"></div>
    <div><img src="../../src/core/assets/photo.png"></div>
    <div><img src="../../src/core/assets/photo.png"></div>
    <div><img src="../../src/core/assets/photo.png"></div>
    <div><img src="../../src/core/assets/photo.png"></div>
    <div><img src="../../src/core/assets/photo.png"></div>
</div>
<br>
