<div class="team-grid" style="display: grid; grid-template-columns: repeat(auto-fit,minmax(200px,1fr))">

<figure><a href="#"><img height="410" src="assets/vector/profile.png" alt=""></a>
  <div class="thumbnail-desc">
    <h3>Scott Riley</h3>
    <p>Chief Medical Officer</p>
  </div>
  <figcaption><a href="#">view full profile</a></figcaption>
</figure>

<figure><a href="#"><img height="410" src="assets/vector/profile.png" alt=""></a>
  <div class="thumbnail-desc">
    <h3>Johnny Fowler</h3>
    <p>Surgeon</p>
  </div>
  <figcaption><a href="#">view full profile</a></figcaption>
</figure>

<figure><a href="#"><img height="410" src="assets/vector/profile.png" alt=""></a>
  <div class="thumbnail-desc">
    <h3>Eric Snyder</h3>
    <p>Ophthalmologist</p>
  </div>
  <figcaption><a href="#">view full profile</a></figcaption>
</figure>

<figure><a href="#"><img height="410" src="assets/vector/profile.png" alt=""></a>
  <div class="thumbnail-desc">
    <h3>Martha Schmidt</h3>
    <p>Therapist</p>
  </div>
  <figcaption><a href="#">view full profile</a></figcaption>
</figure>

<figure><a href="#"><img height="410" src="assets/vector/profile.png" alt=""></a>
  <div class="thumbnail-desc">
    <h3>Katherine Wong</h3>
    <p>Nurse</p>
  </div>
  <figcaption><a href="#">view full profile</a></figcaption>
</figure>

</div>
<br>
