

:root{
  --main-a-color:#ff4500;
  --main-color:#333;
  --main-bg-color:#f8f9fc;
  --main-input-color:#e6e6e6;
  --main-border-color:#ccc;
  --main-dark-color:#000609;
  --main-primary-color:#207AB7;
  --main-success-color:#228b22;
  --main-warning-color:#ff8c00;
  --main-error-color:#b22222;
  --main-radius:0.2em;
  --main-padding:0.6em;
  --admin-primary-color:#207ab7;
}


*{
  box-sizing:border-box;
}

body{ padding:0px; margin:0px}

a, a:hover{text-decoration:none; color:var(--main-a-color)}

pre{background-color:var(--main-input-color); padding:8px; border:1px solid var(--main-border-color);}


img{max-width:100%;height:auto}
script{display:none!important}


.centered{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
.blank{ padding:16px 16px; }

.box-shadow{
  box-shadow:2px 2px 2px #888888
}
.bordered{
  border:1px solid var(--main-border-color);
}
.g-selected,.g-selected td,.g-selected a, g-navbar li.active {
  background-color:var(--main-primary-color)!important;
  color:#fff!important;
}
#media_dialog .g-selected{
  background-color:var(--admin-primary-color)!important;
}
#media_dialog .g-gal *, .g-group-item{
  font: 14px Arial,sans-serif;
}
#media_dialog * {
  text-transform: none;
}
.fa{
  font:normal normal normal 14px/1 FontAwesome
}

.caption{background-color:var(--main-bg-color);}
.curved{
  border-radius:var(--main-radius);
}
.wrapper{
  padding:15px;
}
.g-icon-btn, .g-icon-btn:hover,.g-icon-btn:focus{
  padding:var(--main-padding);
  color:inherit;
}
.hidden{
  display:none;
}
.text-align-center{
  text-align:center;
}
.border-buttom-main{border-bottom:2px solid var(--main-a-color);}

.margin-auto{margin:auto}
.margin-0{margin:0}
.margin-1px{margin:1px}
.margin-2px{margin:2px}
.margin-4px{margin:4px}
.margin-8px{margin:8px}
.margin-16px{margin:16px}
.margin--1px{margin:-1px}
.margin--2px{margin:-2px}
.margin--4px{margin:-4px}
.margin--8px{margin:-8px}
.margin--16px{margin:-16px}

.padding-0{padding:0}
.padding-1px{padding:1px}
.padding-2px{padding:2px}
.padding-4px{padding:4px}
.padding-8px{padding:8px}
.padding-16px{padding:16px}

.pad{padding:var(--main-padding)}
.container{padding:0 16px;margin:auto;position:relative}
.fluid{max-width:unset;}

.gap-0px>*{padding:0px}
.gap-1px>*{padding:1px}
.gap-2px>*{padding:2px}
.gap-4px>*{padding:4px}
.gap-8px>*{padding:8px}
.gap-16px>*{padding:16px}

.display-inline{display:inline}
.display-flex{display:flex}
.display-block{display:block}
.display-grid{display:grid}
.inline-flex{display:inline-flex}

.text-align-center{text-align:center}
.text-align-left{text-align:left}
.text-align-right{text-align:right}
.align-items-center{align-items:center}
.align-items-flex-start{align-items:flex-start}
.align-items-flex-end{align-items:flex-end}
.float-left{float:left}
.float-right{float:right}

.width-auto{width:auto}
.fullwidth{width:100%}
.screenwidth {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.closebtn{
  margin-left:15px;
  font-weight:bold;
  float:right;
  font-size:22px;
  line-height:20px;
  cursor:pointer;
  transition:0.3s;
  opacity:.5;
}

.trans-cubic-bezier{
  transition:all 1s ease;
}

#tooltipv{
  visibility:hidden;
  width:120px;
  background-color:var(--main-dark-color);
  color:#fff;
  text-align:center;
  border-radius:var(--main-radius);
  padding:5px 0;
  position:absolute;
  z-index:1;
  bottom:125%;
  left:50%;
  margin-left:-60px;
  opacity:0;
  transition:opacity 1s;
}

#gila-tooltip{
  width:120px;
  background-color:#555;
  color:#fff;
  text-align:center;
  border-radius:var(--main-radius);
  padding:5px 0;
  position:absolute;
  top:50%;
  z-index:1;
  left:50%;
  margin-left:-60px;
  transition:opacity 1s;
}

#gila-tooltip::after{
  content:"";
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-5px;
  border-width:5px;
  border-style:solid;
  border-color:#555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext{
  visibility:visible;
  opacity:1;
}

.bg-white{ background-color:#fff}
.bg-black{ background-color:#000}
.bg-red{ background-color:#f00}
.bg-green{ background-color:#0f0}
.bg-blue{ background-color:#00f}
.bg-lightgrey{ background-color:#f5f5f5}



.alert{
  padding:20px;
  background-color:var(--main-error-color);
  color:#fff;
  margin-bottom:15px;
}

button{
  color:var(--main-color);
  background:var(--main-bg-color);
  padding:var(--main-padding);
  border:1px solid var(--main-color);
  border-radius:var(--main-radius);
  font:15px Arial;
  display:inline-block;
}
button:hover{
  cursor:pointer;
  color:var(--main-color);
}
.btn,.g-btn,.gila-popup .g-btn{
  color:#fff;
  background:var(--main-primary-color);
  padding:var(--main-padding);
  border:0;
  border-radius:var(--main-radius);
  font:15px Arial;
  display:inline-block;
  cursor:pointer;
  text-align:center;
  opacity:1;
  vertical-align: middle;
  font-weight: bold;
}
.gila-popup .g-btn {
  background:var(--admin-primary-color);
  text-transform: none;
  font-weight: unset;
}
.btn:hover, .g-btn:hover,.gila-popup .g-btn:hover{
  color:#fff;
  opacity:0.9;
}
.error{background-color:var(--main-error-color)!important}
.success{background-color:var(--main-success-color)!important}
.warning{background-color:var(--main-warning-color)!important}
.primary{background-color:var(--main-primary-color)!important}

.btn-white{background-color:#fff; border:1px solid var(--main-border-color); color:var(--main-color)!important}
.btn-default{background-color:var(--main-primary-color)!important}
.btn-success{background-color:var(--main-success-color)!important}
.btn-warning{background-color:var(--main-warning-color)!important}
.btn-primary{background-color:var(--main-primary-color)!important}
.btn-grey{background-color:#808080!important}
.btn-danger,.btn-error{background-color:var(--main-error-color)!important}
.btn-sm{padding:4px}


.g-form input, .g-form select, .g-input{
  padding:var(--main-padding);
  border:0;
  border-bottom:2px solid var(--main-input-color);
  font:14px Arial;
  transition:0s;
  margin:4px 0;
  background:var(--main-input-color);
  color: var(--main-color);
}
.g-form input:focus, .g-form select:focus, .g-input:focus{
  border-bottom:2px solid var(--main-a-color);
  transition:0.2s;
}
input + .helptext{
  opacity:0;
  font-size:0.8em;
  padding:4px;
  transition:0s;
}
input:focus + .helptext{
  opacity:0.8;
  transition:.5s;
  z-index:0;
}
textarea.g-input, .g-input[type=text] {
  width:100%;
  color: var(--main-color);
}
input.btn {
  border:inherit;
  color:inherit;
}


*:focus{
  outline:none;
}
.g-form label,.g-label{
  padding:0.4em 0 0.1em 0;
  font:14px Arial;
  font-weight:bold;
}

.g-form input[type=color], .g-input[type=color]{
  padding :0;
  border:0;
  margin:auto;
  width:2em;
  height:2em;
  background:none;
}


.g-form, .g-form>*{
  display:block;width:100%;
  box-sizing:border-box;
  margin-bottom:8px;
}

/* Radios */
.g-radio input{display: none;}
.g-radio label{background:var(--main-input-color);padding: var(--main-padding);display: inline;}
.g-radio input:checked + label{background: var(--admin-primary-color); color:#fff}

/* Toggle switch */
.g-switch{position:relative;z-index:1;margin:4px 0;height:26px}
.g-switch input{position:absolute;opacity:0;width: 51px;height: 26px;top:-2px;left:-2px;cursor:pointer;}
.g-switch .g-slider{position:absolute;z-index: -100}
.g-switch input[value="1"]:checked + .g-slider{
  background-color:var(--admin-primary-color);
}
.g-switch input:checked{ display:none}
.g-switch input:checked + .g-slider:before{
  -webkit-transform:translateX(25px);
  -ms-transform:translateX(25px);
  transform:translateX(25px);
}

.g-slider{
  background-color:#808080;
  position:relative;
  display:inline-block;
  width:51px;
  height:26px;
  -webkit-transition:.4s;
  transition:.4s;
}
.g-slider:before{
  position:absolute;
  content:"";
  height:19px;
  width:19px;
  left:3px;
  bottom:3px;
  background-color:#fff;
  -webkit-transition:.2s;
  transition:.2s;
}
.g-switch input:checked + .g-slider{
  background-color:var(--main-success-color);
}
.g-switch input:focus + .g-slider{
  box-shadow:0 0 1px var(--main-success-color);
}
.g-slider{
  border-radius:21px;
}
.g-slider:before{
  border-radius:50%;
}

.g-badge {
  background: var(--main-error-color);
  border-radius: 4px;
  padding: 4px;
  font-weight: bold;
  font-size:80%;
  color:#fff;
  user-select: none;
  vertical-align: top;
}

.g-screen {
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
}
.gila-darkscreen{
  background-color:rgba(0, 0, 0, 0.5);
  position:fixed;
  display:flex;
  left:0;
  top:0;
  bottom:0;
  right:0;
  z-index: 999;
  animation: fade-in 0.2s;
}

.gila-popup-s, .gila-popup, .gila-popup-m, .gila-popup-l{
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border:1px solid var(--main-border-color);
  z-index:99999;
  padding: 0;
  position:fixed;
  max-height: 100vh;
}

.gila-popup.small{
  top:10%;
  bottom:auto;
  left:unset;
  right:unset;
  margin-left:10%;
  min-height:40px;
  width:80%;
}

@media only screen and (min-width:800px){
  .gila-popup{
    top:10%;
    bottom:unset;
    left:inherit;
    right:inherit;
    margin-left:20%;
    width:60%;
    animation-name:gilapopupanimation;
    animation-duration:.3s;
    margin-left:25%;
    width:50%;
    min-height:80px;
    max-height:80%;
  }
  .gila-popup.small{
    margin-left:37.5%;
    width:33%;
  }
  .gila-popup.large, .gila-popup.overlay{
    top:5%;
    animation-name: none;
    max-height:95%;
    left:50%;
    margin-left:-400px;
    width:800px;
  }
  .gila-popup.overlay{
    top:0;
    height:100%;
    max-height:100%;
    width:1180px;
  }
}

@media only screen and (min-width:1100px){
  .gila-popup.overlay{
    top:0;
    height:100%;
    margin-left:-512px;
    width:1024px;
  }
  .g-nav.hover li:hover>ul{display:block;}
}
@media only screen and (min-width:1200px){
  .container{
    max-width:1200px;
  }
}


.gila-popup.large>.foot, .gila-popup.overlay>.foot,
.gila-popup.large>.footer, .gila-popup.overlay>.footer{
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5em;
}
.gila-popup>*{
  padding:12px;
  margin:0;
}
.gila-popup .title, .gila-popup .body, .gila-popup .foot{
  font-family: Arial, sans-serif;
}
.gila-popup>.title{
  border-bottom:1px solid var(--main-border-color);
}
.gila-popup>.foot,
.gila-popup>.footer{
  background-color:var(--main-bg-color);
}
.gila-popup>.closebtn{
  font-size: 1.8em;
  position: absolute;
  right: 0;
}
.gila-popup>.body{
  overflow:auto;
}
.gila-popup.curved>.title{
  border-top-left-radius:var(--main-radius);
  border-top-right-radius:var(--main-radius);
}
.gila-popup.curved>.foot, .gila-popup.curved>.footer{
  border-radius:0px 0px var(--main-radius) var(--main-radius);
}

@keyframes gilapopupanimation{
  from{top:0%;opacity:0}
  to{top:10%;opacity:1}
}

.row::after{
  content:"";
  clear:both;
  display:table;
}

.row>*{
  float:left;
}


[class*="gs-"],
[class*="gm-"],
[class*="gl-"]{display:inline-block;width:100%; }

.gs-grid {
  display:grid; grid-gap:1em; grid-template-columns:repeat(auto-fit, minmax(150px,1fr))
}
.gm-grid {
  display:grid; grid-gap:1em; grid-template-columns:repeat(auto-fit, minmax(300px,1fr))
}
.gl-grid {
  display:grid; grid-gap:1em; grid-template-columns:repeat(auto-fit, minmax(600px,1fr))
}


@media only screen and (min-width:300px){
  .gs-1{width:8.33%;}
  .gs-2{width:16.66%;}
  .gs-3{width:25%;}
  .gs-4{width:33.33%;}
  .gs-5{width:41.66%;}
  .gs-6{width:50%;}
  .gs-7{width:58.33%;}
  .gs-8{width:66.66%;}
  .gs-9{width:75%;}
  .gs-10{width:83.33%;}
  .gs-11{width:91.66%;}
  .gs-12{width:100%;}
}

@media only screen and (min-width:600px){
  .gm-1{width:8.33%;}
  .gm-2{width:16.66%;}
  .gm-3{width:25%;}
  .gm-4{width:33.33%;}
  .gm-5{width:41.66%;}
  .gm-6{width:50%;}
  .gm-7{width:58.33%;}
  .gm-8{width:66.66%;}
  .gm-9{width:75%;}
  .gm-10{width:83.33%;}
  .gm-11{width:91.66%;}
  .gm-12{width:100%;}
}

@media only screen and (min-width:768px){
  .gl-1{width:8.33%;}
  .gl-2{width:16.66%;}
  .gl-3{width:25%;}
  .gl-4{width:33.33%;}
  .gl-5{width:41.66%;}
  .gl-6{width:50%;}
  .gl-7{width:58.33%;}
  .gl-8{width:66.66%;}
  .gl-9{width:75%;}
  .gl-10{width:83.33%;}
  .gl-11{width:91.66%;}
  .gl-12{width:100%;}
}

.g-f4{
  font:normal normal normal 14px/1 Arial
}


.g-nav{
  list-style:none;
  display:block;
  padding:0;
  z-index:100;
  font:15px Arial;
}
.g-nav li{
  display:block;
}
.g-tabs li{
  display:inline-block;
}
.g-nav-mobile{
  display:none;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  top: 0;
  text-align:center;
  background:#fff;
}
.g-nav-mobile li{
  text-align:center;
}

@media only screen and (max-width:601px) {
  .g-nav-mobile.display, .g-nav-mobile.display>ul{
    border-width:0;
    width: 100%;
    display:block;
    opacity:0.95;
    padding:16px;
  }
}

@media only screen and (min-width:600px) {
  .g-nav li{
    display:inline-block;
    padding:0;
    position:relative;
  }
  .g-nav-toggler{
    display:none;
  }
  .g-nav-mobile, .g-nav-mobile.display{
    display:inline-block;
    position: initial;
    width:initial;
    background: none;
  }
}
.g-nav li a{
  text-decoration:none;
  padding:16px 16px;
  display:inline-block;
  width:100%;
}
.g-nav li a:hover{
  cursor:pointer;
}
.g-nav li>ul, .dropdown-menu{
  list-style:none;
  border:1px solid var(--main-border-color);
  position:absolute;
  display:none;
  padding:inherit;
  width:auto;
  min-width:120px;
  z-index:10;
}
.g-nav li>ul li, .dropdown-menu li{
  width:100%;
  z-index:999999;
}

.g-nav.vertical li a,
.g-nav li>ul li a{
  padding:var(--main-padding);
}
.g-nav.vertical li>ul,
.g-nav li>ul li>ul{
  top:0;right:auto;
  left:100%
}

.g-nav li.open>.dropdown-menu{display:block;}
.open>.dropdown-menu{display:block;}
/*.g-nav li.dropdown>a:after{content:' \25BE';}
.dropdown-toggle:after{content:' \25BE';}*/
.g-nav.vertical li.dropdown>a:after{float:right;content:' \25B8';}

.g-nav li>ul, .dropdown-menu{ background-color:#fff; }

.g-navbar{ background:var(--main-dark-color); }
.g-navbar li{ color:#fff; }
.g-navbar li a{ color:#ddd; }
.g-navbar li>ul li, .g-navbar li>ul li a{ color:#444; }
.g-navbar li a:hover{ background:#000;color:#fff }


.g-tabs{
  background:inherit;
  border-bottom:1px solid var(--main-border-color);;
}
.g-tabs>li{
  background:inherit;
  margin-bottom:2px;
}

.g-tabs>li.active,
.g-tabs>li:hover{
  color: var(--main-a-color);
  border-bottom:3px solid var(--main-a-color);
  transition:all 0s;
  margin-bottom:-1px;
}
.g-tabs>li.active a,
.g-tabs>li:hover a{
  color: var(--main-a-color);
}
.g-tabs>li>a{
  color: var(--main-color)
}
.tab-content>*{
  display:none;
}
.tab-content>*:first-child{
  display:block;
}

.g-group{
  display:flex;
}
.g-group-item{
  border-radius:0;
  margin:auto 0;
}
.g-square,.g-icon{
  width:2em;
}
.g-square-sm,.g-icon-sm{
  width:1em;
}
.vertical>li{
  display:block !important;
}


.g-table{
  border-spacing:0;
  max-width:100%;
  color:var(--main-color);
  border-width:0;
  font:14px Arial;
}
@media only screen and (max-width:800px){
  .g-table{
    overflow-x: auto;
  }
}

.g-table tbody tr:hover td{
  background-color:#f8f8f8;
}
.g-table th{
  text-align:left;
}
.g-table th,
.g-table td{
  padding:8px;
  border-collapse:collapse;
  background:white;
  overflow-wrap: break-word;
}
.g-table tbody td{
  border-top:1px solid var(--main-border-color);
}
.g-table.bordered{
  border-top:1px solid var(--main-border-color);
  border-left:1px solid var(--main-border-color);
}
.g-table.bordered th,
.g-table.bordered td{
  border-style:solid;
  border-color:var(--main-border-color);
  border-width:0;
  border-bottom-width:1px;
  border-right-width:1px;
}



.g-table.stripped tr:nth-child(odd) td{
  background:var(--main-bg-color);
}
.g-table.shrinked th,.g-table.shrinked td{
  padding:4px;
}
.g-table.unbordered{
  border-left-width:0px;
}
.g-table.unbordered th,
.g-table.unbordered td{
  border-right-width:0px;
}
.g-table.first-id td:nth-child(1),
.fixed-column{
  font-weight:bold;
  background-color:var(--main-input-color)!important;
  position:absolute;
}
.g-table.thead-invert th{
  background-color: var(--main-dark-color);
  color:#fff!important;
}


.g-table.dark th{
  background-color: var(--main-dark-color);
  color:#fff!important;
}

.g-table.red th{
  background-color:#f00;
  color:#fff!important;
}

.g-card{
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.4);
  overflow:auto;
}
.g-card-image>*{
  width:100%;height:auto;margin:auto;
}
.g-panel{
  border:1px solid #ccc;
  border-top-right-radius:var(--main-radius);
  border-top-left-radius:var(--main-radius);
}
.g-panel .title{
  background-color:#f4f4f4;
  border-top-right-radius:var(--main-radius);
  border-top-left-radius:var(--main-radius);
}

.g-gal {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
  grid-gap: 8px;
  column-count: 6;
}
.g-gal img{
  min-width: 60%;
  max-height:90px;
}
.g-gal>*{
  text-align:center;
  vertical-align:top;
  word-wrap:break-word;
  font-size: 90%;
  max-width:160px;
}
.g-gal-sm>*{
  grid-template-columns: repeat(auto-fill, minmax(60px,1fr));
  max-width:90px;
}
.g-gal-lg>*{
  grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
  max-width:240px;
}

.pointer\:hover:hover{
  cursor:pointer;
}
.shadow\:hover:hover{
  box-shadow:0 0 3px #808080;
}

.oval {
  border-radius: 50%;
}

@keyframes move-left{
  from{transform:translateX(4em)}
  to{transform:translateX(0)}
}
@keyframes move-right{
  from{transform:translateX(-4em)}
  to{transform:translateX(0)}
}
@keyframes move-up{
  from{transform:translateY(4em)}
  to{transform:translateY(0)}
}
@keyframes move-down{
  from{transform:translateY(-4em)}
  to{transform:translateY(0)}
}
@keyframes fade-in{
  from{opacity:0}
  to{opacity:1}
}
@keyframes fade-out{
  from{opacity:1}
  to{opacity:0}
}
@keyframes expand{
  from{transform: scale(0.7);}
  to{transform: scale(1);}
}

.g-snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.g-snackbar.show {
  visibility: visible;
  animation: fade-in 0.5s, move-up 0.5s, fade-out 0.5s 2.5s;
}
